* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  behavior: smooth;
}

::placeholder {
  font-family: "Josefin Sans", system-ui;
  font-size: 18px;
}

body {
  font-family: "Josefin Sans", system-ui;
  font-size: 18px;
  background-color: gray;
  padding-top: 100px;
}

h1 {
  margin-block: 50px;
}

.wrapper {
  max-width: calc(1200px - 40px);
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.timeline {
  position: relative;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-color: white;
  width: 3px;
  height: 100%;
  animation: moveLine 6s linear forwards;
  z-index: -1;
}

@keyframes moveLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.timeline__container {
  padding: 0px 50px;
  width: 50%;
  position: relative;
  margin-block-end:50px;
}

@keyframes fadeIn {
  to{
    opacity:0;
    left:100%;
  }
}

@keyframes fadeInsecond {
  to{
    opacity:0;
    left:-100%;
  }
}

.round {
  background-color: white;
  --roundWh: 50px;
  width: var(--roundWh);
  height: var(--roundWh);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.timeline__container:nth-child(odd) {
  left: 0;
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: exit;
  animation-delay:3s;
}

.timeline__container:nth-child(odd) .round {
  right: -25px;
}

.timeline__container:nth-child(even) {
  left: 50%;
  animation: fadeInsecond linear forwards;
  animation-timeline: view();
  animation-range: exit;
  animation-delay:3s;
}

.timeline__container:nth-child(even) .round {
  left: -25px;
}

.timeline__text {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  position: relative;
}

.timeline__text:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 10px;
  background-color: white;
  --arrowWh: 30px;
  width: var(--arrowWh);
  height: var(--arrowWh);
  transform: rotate(45deg);
}
.timeline__text:nth-child(even):after {
  right: -15px;
}
